p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.facebook-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
@media (max-width: 850px) {
    /* Media query for screens with a maximum width of 768px */
    .facebook-grid {
        grid-template-columns: 1fr 1fr; /* One column for smaller screens */
    }
    .facebook-add-box{
        margin-top: 3rem;
    }
}
@media (max-width: 700px) {
    /* Media query for screens with a maximum width of 768px */
    .facebook-grid {
        grid-template-columns: 1fr; /* One column for smaller screens */
    }
    .facebook-add-box{
        margin-top: 3rem;
    }
}
.facebook-add-box{
    display: inline-block;
    border-style: groove;
    margin-right: 10px;
    box-shadow: 5px 5px lightslategray;
    width: 200px;
}

.main-profile{
    width: 100%;
    height: 250px;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 3%;
    cursor: pointer;
}
.second-profile{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: bottom; 
    padding-bottom: 2px;
    cursor: pointer;
}
.profile-name{
    font-weight: bold;
    font-size: 18px;
}
.mutual-freinds-paragraph{
    color: gray;
}
.facebook-second-pic{
    display: inline-block;
}
.mutual-friends{
    display: inline-block;
    vertical-align: top;
}
.add-friend-button{
    background-color:rgb(24, 119, 242);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 10px 10px 10px 0px ;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}
button:active { 
    background-color: whitesmoke; 
    color: rgb(24, 119, 242);
    border: 1px solid rgb(24, 119, 242);
    opacity: 1;
} 
.facebook-description{
    line-height: 30px;
    padding-left: 5px;
}
.description-grid{
    display: grid;
    grid-template-columns: 35px 1fr;
}